.ticket-card{
    height: 500px;
    width: 600px;
    margin-top: 10px;
    margin-left: 60px;
}
img{
    height: 450px;
    margin-left: 40px;
}

.content{
    margin-left: 680px;
    margin-top: -500px;
    height: 400px;
    width: 400px;
}